<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="momentos" ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <ion-item>
      <iframe width="240" height="200" src="https://www.youtube.com/embed/Sts9ZQsEWqo" title="Game of Thrones: La Muerte de Lord Eddard Stark Español Latino" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </ion-item>
    <ion-item>
      <ion-text>
        <h3>La Ejecución de Lord Eddard Stark</h3>
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-text>
        <p>El Señor de Invernalia y Guardián del Norte había sido acusado de traicionar alevosamente a la corona por 
          pretender entregarle el Trono de Hierro a Stannis Baratheon, al que consideraba el heredero legítimo 
          de los Siete Reinos tras descubrir que el padre de los vástagos de la reina, Cersei Lannister, era su hermano 
          Jaime y no el difunto rey, Robert Baratheon.
        </p>

        <p>
          Esta escena es impactante ya que ejecutan al que fue el protagonista durante la primera temporada y marcó un prescedente 
          la serie en sus futuras temporadas.
        </p>
      </ion-text>
    </ion-item>
  </div>
  

</ion-content>
