<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="personajes"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <img src="assets/img/personajes/Joffrey Baratheon.jpg" alt="">
    </ion-card-content>
    <ion-card-title>Joffrey Baratheon</ion-card-title>
    <ion-card-subtitle>
      <ion-list>
        <ul>Edad: 14</ul>
        <ul>Filiación: Casa Baratheon</ul>
        <ul>Actor: Jack Gleeson</ul>
      </ion-list>
    </ion-card-subtitle>

    <ion-card-title>Descripcion</ion-card-title>
    <ion-text color="primary">
      <p>
        El rey Joffrey Baratheon fue Rey de los Siete Reinos desde 298 hasta su muerte en 300 d.C. Oficialmente el hijo primogénito del rey Robert Baratheon y la reina Cersei Lannister, es sin embargo hijo biológico de Jaime Lannister, el hermano de la reina. Tiene dos hermanos, Myrcella y Tommen.
      </p>
      <p>
        Joffrey es descrito como un muchacho testarudo, con un temperamento incontrolable y una marcada veta sádica. Parece tener poco sentido de lo que es correcto o incorrecto, culpando a otros de sus errores. Es considerado un niño desobediente, imprudente, cruel y bastante infantil. Totalmente ignorante de las sutilezas y matices de la política, podía ser educado y correcto cuando le convenía, pero por lo general solo para engañar a los demás.
      </p>
      <p>
        Como todos los Lannister, es descrito como alto, rubio y atractivo. Tiene los ojos verdes y los labios carnosos. Si bien es apuesto, con frecuencia adoptó una expresión burlona que lo hacía lucir menos atractivo.
      </p>
    </ion-text>
  </ion-card>
  

</ion-content>
