<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="personajes"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <img src="assets/img/personajes/Daenerys Targaryen.jpg" alt="">
    </ion-card-content>
    <ion-card-title>Daenerys Targaryen</ion-card-title>
    <ion-card-subtitle>
      <ion-list>
        <ul>Edad: 16</ul>
        <ul>Filiación: Casa Targaryen</ul>
        <ul>Actor: Emilia Clarke</ul>
      </ion-list>
    </ion-card-subtitle>

    <ion-card-title>Descripcion</ion-card-title>
    <ion-text color="primary">
      <p>
        La reina Daenerys Targaryen, también llamada Daenerys de la Tormenta, La que no Arde, Rompedora de Cadenas, Madre de Dragones y, de manera más informal, Dany, es la hija menor del rey Aerys II Targaryen y su hermana esposa, la reina Rhaella. Tras la Guerra del Usurpador, durante la que murieron sus padres y su hermano mayor Rhaegar, ella y su hermano Viserys vivieron en el exilio en varias Ciudades Libres.
      </p>
      <p>
        Daenerys es descrita como una muchacha adolescente de aspecto valyrio clásico, con el cabello rubio plateado, los ojos de color púrpura y contextura delgada. Se dice que posee una cierta semejanza física a la reina Naerys Targaryen, aunque Daenerys es más alta.
      </p>
      <p>
        Además de la Lengua Común, Daenerys habla el Valyrio de las Ciudades Libres con acento tyroshi, así como Alto Valyrio. Aprende rápidamente el idioma Dothraki y el Ghiscari.
      </p>
      <p>
        Daenerys creció aterrorizada y abusada psicológicamente por su hermano Viserys. Sin embargo, eventualmente se convierte en una adolescente segura de sí misma y sus seguidores generalmente la aprecian y tratan con gran respeto y amor. Ser Jorah Mormont y Ser Barristan Selmy la han comparado con su hermano fallecido, el príncipe Rhaegar Targaryen, en términos de valentía, honorabilidad y nobleza.
      </p>
    </ion-text>
  </ion-card>
  

</ion-content>
