<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="personajes"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <img src="assets/img/personajes/Catelyn Stark.jpg" alt="">
    </ion-card-content>
    <ion-card-title>Catelyn Stark</ion-card-title>
    <ion-card-subtitle>
      <ion-list>
        <ul>Edad: 35</ul>
        <ul>Filiación: Casa Tully, Casa Stark</ul>
        <ul>Actor: Michelle Fairley</ul>
      </ion-list>
    </ion-card-subtitle>

    <ion-card-title>Descripcion</ion-card-title>
    <ion-text color="primary">
      <p>
        Lady Catelyn Tully es la hija mayor de Lord Hoster Tully y Lady Minisa Whent. Poco antes de iniciada la Rebelión de Robert, se casó con Lord Eddard Stark, convirtiéndose en Señora de Invernalia. Tiene cinco hijos, Robb, Sansa, Arya, Bran y Rickon.
      </p>
      <p>
        Catelyn es descrita como una mujer hermosa, de piel clara, con cabello caoba, los ojos azules, dedos largos, y pómulos altos. Se dice que guarda cierto parecido con su madre.
      </p>
      <p>
        Catelyn es una mujer orgullosa, fuerte, amable y generosa. Es vista como honorable y recta por sus conocidos, manteniendo el deber sobre el deseo como uno de sus principios. Catelyn también posee una fuerte comprensión de la política, y de todo lo que ocurre en Poniente. Sin embargo, Catelyn es también una mujer ferozmente protectora, dejándose llevar más por sus sentimientos que por sus pensamientos, especialmente cuando se trata de su familia, a quienes ama profundamente. Ella sigue firmemente el lema de la Casa Tully, "Familia, Deber, Honor". No obstante, considera a Jon Nieve como un extraño en su familia, y nunca ha perdonado a Eddard Stark por traerlo a vivir con ellos. Catelyn mantiene su fe en los Siete.
      </p>
    </ion-text>
  </ion-card>
  

</ion-content>
