<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="personajes"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <img src="assets/img/personajes/Jon Snow.webp" alt="">
    </ion-card-content>
    <ion-card-title>Jon Snow</ion-card-title>
    <ion-card-subtitle>
      <ion-list>
        <ul>Edad: 17</ul>
        <ul>Filiación: Casa Stark</ul>
        <ul>Actor: Kit Harington</ul>
      </ion-list>
    </ion-card-subtitle>

    <ion-card-title>Descripcion</ion-card-title>
    <ion-text color="primary">
      <p>
        Lord Jon Snow es el Lord Comandante de la Guardia de la Noche nº 998. Es hijo bastardo de Lord Eddard Stark. Su lobo huargo, Fantasma, es albino y mudo. El emblema personal de Jon consiste en los colores de la Casa Stark invertidos, un lobo huargo de plata corriendo sobre fondo de cenizo.
      </p>
      <p>
        Jon es descrito como un muchacho con los rasgos propios de los Stark, complexión delgada, cara alargada, ojos color gris y pelo castaño oscuro.
      </p>
      <p>
        Jon creció como un norteño más, y adquirió de varias maneras los valores del honor, a los que intenta apelar incluso cuando se enfrenta a decisiones complejas y moralmente ambiguas. Idolatra a Lord Eddard, pero se siente frustrado por su negativa a nombrar o hablar de su madre. Tiene un punto de vista perceptivo y observador, mostrando valentía, ingenio y agilidad de pensamiento durante su tiempo en el Muro, llegando a ser un líder natural y en la Guardia de la Noche.
      </p>
    </ion-text>
  </ion-card>
  

</ion-content>
