<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Personajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/img/personajes/Eddard «Ned» Stark.jpg" alt="">
      </ion-avatar>
      <ion-button class="button" fill="clear" [routerLink]="['eddard']">Eddard «Ned» Stark</ion-button>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/img/personajes/Robert Baratheon.jpg" alt="">
      </ion-avatar>
      <ion-button class="button" fill="clear" [routerLink]="['robert']">Robert Baratheon</ion-button>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/img/personajes/Jaime Lannister.jpg" alt="">
      </ion-avatar>
      <ion-button class="button" fill="clear" [routerLink]="['jaime']">Jaime Lannister</ion-button>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/img/personajes/Catelyn Stark.jpg" alt="">
      </ion-avatar>
      <ion-button class="button" fill="clear" [routerLink]="['catelyn']">Catelyn Stark</ion-button>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/img/personajes/Cersei Lannister.jpg" alt="">
      </ion-avatar>
      <ion-button class="button" fill="clear" [routerLink]="['cersei']">Cersei Lannister</ion-button>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/img/personajes/Daenerys Targaryen.jpg" alt="">
      </ion-avatar>
      <ion-button class="button" fill="clear" [routerLink]="['daenerys']">Daenerys Targaryen</ion-button>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/img/personajes/Jon Snow.webp" alt="">
      </ion-avatar>
      <ion-button class="button" fill="clear" [routerLink]="['jon']">Jon Snow</ion-button>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/img/personajes/Robb Stark.jpg" alt="">
      </ion-avatar>
      <ion-button class="button" fill="clear" [routerLink]="['robb']">Robb Stark</ion-button>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/img/personajes/Sansa Stark.jpg" alt="">
      </ion-avatar>
      <ion-button class="button" fill="clear" [routerLink]="['sansa']">Sansa Stark</ion-button>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/img/personajes/Arya Stark.webp" alt="">
      </ion-avatar>
      <ion-button class="button" fill="clear" [routerLink]="['arya']">Arya Stark</ion-button>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/img/personajes/Theon Greyjoy.webp" alt="">
      </ion-avatar>
      <ion-button class="button" fill="clear" [routerLink]="['theon']">Theon Greyjoy</ion-button>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/img/personajes/Brandon Stark.webp" alt="">
      </ion-avatar>
      <ion-button class="button" fill="clear" [routerLink]="['brandon']">Brandon Stark</ion-button>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/img/personajes/Joffrey Baratheon.jpg" alt="">
      </ion-avatar>
      <ion-button class="button" fill="clear" [routerLink]="['joffrey']">Joffrey Baratheon</ion-button>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/img/personajes/Tyrion Lannister.jpg" alt="">
      </ion-avatar>
      <ion-button class="button" fill="clear" [routerLink]="['tyrion']">Tyrion Lannister</ion-button>
    </ion-item>

  </ion-list>

</ion-content>
