<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Personajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let character of characters" [routerLink]="['/personajes/vista/' + character.id]">
      <ion-avatar slot="start">
        <img src="assets/img/personajes/{{character.img}}">
      </ion-avatar>
      <ion-label>{{character.nombre}}</ion-label>

    </ion-item>
  </ion-list>

</ion-content>
