<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Personajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/img/personajes/Eddard «Ned» Stark.jpg" alt="">
      </ion-avatar>
      <ion-item>
        <ion-button class="button" fill="clear" [routerLink]="['eddard']">Eddard «Ned» Stark</ion-button>
      </ion-item>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/img/personajes/Robert Baratheon.jpg" alt="">
      </ion-avatar>
      <ion-item>
        <ion-button class="button" fill="clear" [routerLink]="['robert']">Robert Baratheon</ion-button>
      </ion-item>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/img/personajes/Jaime Lannister.jpg" alt="">
      </ion-avatar>
      <ion-item>
        <ion-button class="button" fill="clear" [routerLink]="['jaime']">Jaime Lannister</ion-button>
      </ion-item>
    </ion-item>
  </ion-list>

</ion-content>
