<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="personajes"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <img src="assets/img/personajes/Sansa Stark.jpg" alt="">
    </ion-card-content>
    <ion-card-title>Sansa Stark</ion-card-title>
    <ion-card-subtitle>
      <ion-list>
        <ul>Edad: 14</ul>
        <ul>Filiación: Casa Stark</ul>
        <ul>Actor: Sophie Turner</ul>
      </ion-list>
    </ion-card-subtitle>

    <ion-card-title>Descripcion</ion-card-title>
    <ion-text color="primary">
      <p>
        Sansa Stark es la hija mayor de Lord Eddard Stark y Lady Catelyn Tully. Tiene tres hermanos, Robb, Brandon y Rickon; una hermana, Arya, y un medio hermano bastardo, Jon Nieve. Está casada con Tyrion Lannister.
      </p>
      <p>
        Sansa es descrita como una muchacha tradicionalmente hermosa; su apariencia favorece su lado materno, los Tully, pues posee pómulos altos, ojos azules y espeso cabello castaño rojizo. Al crecer, su figura ha sido descrita como alta, agraciada y femenina.
      </p>
    </ion-text>
  </ion-card>
  

</ion-content>
