<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="personajes"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <img src="assets/img/personajes/Brandon Stark.webp" alt="">
    </ion-card-content>
    <ion-card-title>Brandon Stark</ion-card-title>
    <ion-card-subtitle>
      <ion-list>
        <ul>Edad: 10</ul>
        <ul>Filiación: Casa Stark</ul>
        <ul>Actor: Isaac Hempstead-Wright</ul>
      </ion-list>
    </ion-card-subtitle>

    <ion-card-title>Descripcion</ion-card-title>
    <ion-text color="primary">
      <p>
        Brandon Stark, mejor conocido como Bran, es el segundo hijo y heredero de Lord Eddard Stark y Lady Catelyn Tully. Tiene dos hermanas, Sansa y Arya; dos hermanos, Robb y Rickon, y un medio-hermano bastardo, Jon Nieve. Debido a una caída, queda paralítico y depende de Hodor, un mozo de cuadra retrasado, para desplazarse. Está siempre acompañado de su lobo huargo Verano, con quien mantiene una poderosa conexión warg.
      </p>
      <p>
        Bran es descrito como un muchacho con el pelo castaño rojizo y profundos ojos azules, rasgos que favorecen los de la Casa Tully.
      </p>
      <p>
        Es un chico dulce y reflexivo, muy querido por todos en Invernalia. Tiene una gran fascinación con la escalada y la exploración a de los muros y techos y del castillo. Lady Catelyn en una ocasión bromeó con que Bran consiguió aprender a trepar antes que caminar, aunque por otro lado su afición por trepar a menudo la disgusta.
      </p>
      <p>
        Al igual que sus hermanos, Bran es también un chico obediente, a pesar de que se deja llevar fácilmente por la emoción de explorar. Jon Nieve piensa con cariño que Bran fue siempre "obstinado y curioso", y de igual manera quería constantemente unirse a las actividades de los chicos mayores, creyéndose un adulto a sus siete años. Sin embargo, debido a la delicada situación que atraviesa tras su caída, se vuelve más serio y contemplativo.
      </p>
    </ion-text>
  </ion-card>
  

</ion-content>
