<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Momentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div routerLinkActive="active">
    
    <ion-item>
      <ion-text>
        <h3>Juicio de Tyrion</h3>
      </ion-text>
    </ion-item>
    <ion-item>
      <a [routerLink]="['./juicio']">
          <img src="assets/img/momentos/Juicio de Tyrion.jpeg">
      </a>
    </ion-item>

    <ion-item>
      <ion-text>
        <h3>Ejecucion de Ned</h3>
      </ion-text>
    </ion-item>
    <ion-item>
      <a [routerLink]="['./ejecucion']">
          <img src="assets/img/momentos/Ejecucion de Ned.webp">
      </a>
    </ion-item>

    <ion-item>
      <ion-text>
        <h3>La Boda Roja</h3>
      </ion-text>
    </ion-item>
    <ion-item>
      <a [routerLink]="['./boda']">
          <img src="assets/img/momentos/Boda Roja.jpg">
      </a>
    </ion-item>

    <ion-item>
      <ion-text>
        <h3>La aparición de los White Walkers en Hardhome</h3>
      </ion-text>
    </ion-item>
    <ion-item>
      <a [routerLink]="['./white-walkers']">
          <img src="assets/img/momentos/White Walkers.jpg">
      </a>
    </ion-item>
    
  </div>

</ion-content>
