<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-back-button defaultHref="personajes"></ion-back-button>
  </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="character">
    <ion-card>
      <ion-card-content>
        <img src="assets/img/personajes/{{character.img}}" alt="">
      </ion-card-content>
      <ion-card-title class="ion-text-center" >{{character.nombre}}</ion-card-title>
      <br>
      <ion-card-subtitle>
        <p>{{character.descripcion}}</p>
        <p>{{character.apariencia}}</p>
      </ion-card-subtitle>
    </ion-card>
  </div>

</ion-content>
