<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="momentos" ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <ion-item>
      <iframe width="240" height="200" src="https://www.youtube.com/embed/1p4aMuZt4z4" title="El Juicio a Tyrion Lannister" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </ion-item>
    <ion-item>
      <ion-text>
        <h3>El juicio de Tyrion Lannister</h3>
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-text>
        <p>En esta escena Tyrion Lannister se encuentra en juicio ya que lo acusan de haber envenenado al rey Joffrey. Aquí se ve 
          con claridad el desprecio que tiene su padre y su hermana (La reina Cersei) por el simple hecho de nacer enano. Tanto es el desprecio que
          sobornan a su novia para que testifique en el juicio en contra de él, traicionándolo y mintiendo ante todo el público. Esto hace que 
          Tyrion se desahoge ante todo el jurado y reclama su derecho a un combate para así determinar su destino.
        </p>
      </ion-text>
    </ion-item>
  </div>
  

</ion-content>
