<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="momentos" ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <ion-item>
      <iframe width="240" height="200" src="https://www.youtube.com/embed/5JzORNcImJ0" title="Boda Roja (clímax) GOT Latino 3x9" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </ion-item>
    <ion-item>
      <ion-text>
        <h3>Masacre de la Boda Roja</h3>
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-text>
        <p>La Boda Roja fue una masacre sucedida durante la Guerra de los Cinco Reyes, en la cual el Rey en el Norte, Robb Stark, su madre, 
          Catelyn Tully, y la mayoría de sus 3.500 vasallos fueron asesinados. El evento fue orquestado por el cambiacapas Lord Walder Frey en 
          venganza por la ofensa cometida por Robb Stark, quien no honró la promesa de matrimonio hecha con la Casa Frey. No obstante, Lord 
          Walder no se habría atrevido a llevar a cabo la masacre sin la promesa de protección de Tywin Lannister.
        </p>
      </ion-text>
    </ion-item>
  </div>
  

</ion-content>
