<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="personajes"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <img src="assets/img/personajes/Arya Stark.webp" alt="">
    </ion-card-content>
    <ion-card-title>Arya Stark</ion-card-title>
    <ion-card-subtitle>
      <ion-list>
        <ul>Edad: 11</ul>
        <ul>Filiación: Casa Stark</ul>
        <ul>Actor: Maisie Williams</ul>
      </ion-list>
    </ion-card-subtitle>

    <ion-card-title>Descripcion</ion-card-title>
    <ion-text color="primary">
      <p>
        Arya Stark es la segunda hija de Lord Eddard Stark y Lady Catelyn Tully. Tiene una hermana, Sansa; tres hermanos, Robb, Brandon y Rickon, y un medio-hermano bastardo, Jon Nieve, al que aprecia mucho. Como algunos de sus hermanos, ella es una cambiapieles, pudiendo entrar en la piel de su loba huargo, Nymeria.
      </p>
      <p>
        Arya es una niña voluntariosa y con interés en las actividades típicamente masculinas como el combate y la exploración. No tiene una buena relación con su hermana Sansa, cuyos intereses son tradicionalmente femeninos, actividades en las que Arya no tiene habilidades. Es animada en sus gustos por su medio-hermano Jon, con quien tiene una relación cercana. A través de sus viajes, Arya demuestra gran ingenio, astucia y la capacidad firme de aceptar las necesidades, por duras que sean. Se dice que su temperamento es similar al de su tía Lyanna.
      </p>
      <p>
        Arya es delgada y atlética. Es zurda. Su apariencia favorece su lado paterno, los Stark: tiene el pelo castaño oscuro, ojos grises y rostro alargado. Al principio de la serie, es frecuentemente considerada poco femenina y muchas veces tomada por un chico. Sin embargo, hay instancias en las que se le considera hermosa, comparándola con su tía Lyanna.
      </p>
    </ion-text>
  </ion-card>
  

</ion-content>
