<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="personajes"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <img src="assets/img/personajes/Theon Greyjoy.webp" alt="">
    </ion-card-content>
    <ion-card-title>Theon Greyjoy</ion-card-title>
    <ion-card-subtitle>
      <ion-list>
        <ul>Edad: 21</ul>
        <ul>Filiación: Casa Greyjoy</ul>
        <ul>Actor: Alfie Allen</ul>
      </ion-list>
    </ion-card-subtitle>

    <ion-card-title>Descripcion</ion-card-title>
    <ion-text color="primary">
      <p>
        Theon Greyjoy es el tercer hijo y heredero de Lord Balon Greyjoy y Lady Alannys Harlaw. Tras la Rebelión Greyjoy, Theon fue llevado a Invernalia como pupilo de Lord Eddard Stark para asegurar la lealtad de los Hombres del Hierro. Al servicio del rey Robb Stark, fue enviado a las Islas del Hierro como mensajero, donde se hizo capitán del Zorra Marina.
      </p>
      <p>
        Theon es descrito como un joven apuesto de pelo negro-marrón, rasgo común entre los Greyjoy. Es conocido por su arrogancia y su irritante sonrisa.[3] Se muestra promiscuo y vanidoso, pero tras su faceta arrogante esconde inseguridades relacionadas con su incierta identidad familiar y social. En ocasiones lleva un sobreveste negro adornado con el kraken de la Casa Greyjoy sobre una camisa de malla fina.
      </p>
    </ion-text>
  </ion-card>
  

</ion-content>
