<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>En mi vida</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-text>
      <p>Esta serie fue de las pocas que me puso a hacer teorías y la que mas me gustó no solo por aspectos superficiales como excenas de peleas sino que también quedé atrapado con
        su historia, personajes, política, entre otras cosas que tiene la serie todo de muy alta calidad.
      </p>
      <p>Lo que más me gustó de la serie fue el desarrollo de personaje y como están conectadas las diferentes tramas que narra.
      </p>
    </ion-text>
  </ion-item>

</ion-content>
