<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="personajes"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <img src="assets/img/personajes/Tyrion Lannister.jpg" alt="">
    </ion-card-content>
    <ion-card-title>Tyrion Lannister</ion-card-title>
    <ion-card-subtitle>
      <ion-list>
        <ul>Edad: 27</ul>
        <ul>Filiación: Casa Lannister</ul>
        <ul>Actor: Peter Dinklage</ul>
      </ion-list>
    </ion-card-subtitle>

    <ion-card-title>Descripcion</ion-card-title>
    <ion-text color="primary">
      <p>
        Tyrion Lannister es el tercer hijo de Lord Tywin Lannister y Lady Joanna Lannister, y hermano menor de los mellizos Cersei y Jaime. Es apodado el Gnomo y Mediohombre debido a su enanismo.
      </p>
      <p>
        Tyrion es descrito como un hombre de piernas cortas y torcidas, una frente prominente, ojos desiguales de color verde y negro, cabello lacio y rubio casi blanco. Más tarde se deja crecer la barba, que es de color negro y rubio. Después de la Batalla del Aguasnegras, queda con una cicatriz espantosa en la cara y pierde la mayor parte de la nariz.
      </p>
      <p>
        Tyrion es educado, perspicaz y calculador, pero recibe poco respeto de su padre Tywin por estas cualidades, debido a su deformidad y a la muerte de su madre durante el parto. Es capaz de ser cruel con sus enemigos, pero también de sentir empatía con personas marginadas y maltratadas. Mantiene una buena relación con su hermano Jaime, no así con su hermana Cersei, la que es despectiva y fría con él.
    </ion-text>
  </ion-card>
  

</ion-content>
