<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="momentos" ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <ion-item>
      <iframe width="240" height="200" src="https://www.youtube.com/embed/noK2-X0z-jM" title="El terror ha llegado a la Casa Austera" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </ion-item>
    <ion-item>
      <ion-text>
        <h3>Los White Walkers aparecen en Hardhome</h3>
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-text>
        <p>
          Mientras los salvajes están cargando los botes, Hardhome es invadida por Caminantes blancos. Jon y Tormund logran 
          ver como varios caminantes blancos observan a lo lejos la batalla, es entonces cuando Jon se dirige junto con Loboda 
          por el vidriagón que trajeron. Entrando a la choza, ambos son atacados por un caminante blanco que con facilidad logra 
          asesinar a Loboda. Aquí se descubre que los caminantes son débiles ante el acero valyrio, pero su cantidad y agresividad 
          los obliga a escapar.
        </p>
      </ion-text>
    </ion-item>
  </div>
  

</ion-content>
