<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="personajes"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <img src="assets/img/personajes/Eddard «Ned» Stark.jpg" alt="">
    </ion-card-content>
    <ion-card-title>Eddard «Ned» Stark</ion-card-title>
    <ion-card-subtitle>
      <ion-list>
        <ul>Edad: 36</ul>
        <ul>Filiación: Casa Stark</ul>
        <ul>Actor: Sean Bean, Sebastian Croft (joven), Robert Aramayo (adulto joven)</ul>
      </ion-list>
    </ion-card-subtitle>

    <ion-card-title>Descripcion</ion-card-title>
    <ion-text color="primary">
      <p>
        Lord Eddard Stark, apodado Ned, fue cabeza de la Casa Stark, y como tal, Señor de Invernalia y Guardián del Norte. Durante la Guerra del Usupador se casó con Lady Catelyn Tully, con quien tuvo cinco hijos, Robb, Sansa, Arya, Brandon y Rickon. Tuvo un hijo bastardo, Jon Nieve.
      </p>
      <p>
        Eddard es descrito como un hombre de rostro alargado, cabello oscuro y ojos grises, rasgos típicos de la Casa Stark. Su barba empezaba a tornarse grisácea en su último año de vida. De acuerdo a Lady Catelyn, no es ni tan alto ni tan atractivo como lo fue su hermano mayor, Brandon Stark.Eddard fue conocido por su inquebrantable sentido del honor y la justicia, y su familia lo describe como amable y generoso, aunque algunos consideran su carácter reservado, como frío y distante.
      </p>
    </ion-text>
  </ion-card>
  

</ion-content>
